<footer class="site-footer contenedor">
	<nav class="nav">
		<a href="#">Create group</a>
		<a href="/auth/login">Login</a>
		<a href="/auth/register">Register</a>
	</nav>
	
	<div class="copyright">All rights reserved Meeti 2024 &copy;</div>
</footer>

