
/** Single Eventos **/
/* .encabezado-evento { */
.eventHeader {
    border-top: 4px solid #EAEAEA;
    padding: 5rem 0;
}

@media (min-width:768px) {
    .eventHeader .contenedor {
        display: flex;
        justify-content: space-between;
    }   
}

.eventSummary h1 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 2rem;
}

/** Sidebar **/
/* All of this previously had the name:  .contenido-evento*/
.eventContainer aside {
    background-color: white;
    border: 1px solid #C7C7C7;
}

.eventContainer aside > div {
    padding: 1rem  0 1rem 5rem;
    background-size: 50px;
    background-position: center left;
    background-repeat: no-repeat;
    margin: 2rem;
}

.eventContainer aside  p {
    margin: 0;
}

/* .contenido-evento { */
.eventContent {
    background-color: #F2F2F2;
    padding: 5rem 0;
}

@media (min-width:768px) {
    .eventContent .contenedor{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
	
    .eventContent .eventInformation {
        flex: 0 0 60%;
    }
	
    .eventContent .information {
        flex: 0 0 calc(40% - 2rem);
    }
}

.infoAuthor {
    display: flex;
    justify-content: space-between;
}

.infoAuthor .information {
    flex: 1;
    margin-left: 2rem;
}

.infoAuthor .image {
    border-radius: 50%;
    background-color: #e1e1e1;
    height: 50px;
    width: 50px;
}

.infoAuthor .author {
    font-weight: 700;
    margin-top: .5rem;
}

.infoAuthor p {
    margin: 0;
}

/* .pregunta-asistencia { */
.participate {
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.participate p {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

aside .date {
    background-image: url(../../img/timeIcon.svg);
    margin-bottom: 2rem;
}

aside .location {
    background-image: url(../../img/locationIcon.svg);
}

aside img {
    display: block;
}

