<h1 style="
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
">Confirm account</h1>

<p
	style="font-family: Arial, Helvetica, sans-serif;"
>You are one step ahead of creating your community, you have to confirm your account, click the next link</p>

<a
	href="<%= magicLink %>"
	style="
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	padding: 1rem;
	background-color: #00C897;
	color: white;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
">
Confirm your account
</a>

<p style="font-family: Arial, Helvetica, sans-serif;">If you can't access this link, copy and enter this link: <%= magicLink %></p>

<p style="font-family: Arial, Helvetica, sans-serif;">If you didn't expect this email, you can just ignore it.</p>
