<main class="contenedor contenedor-formularios">
	<h1><%= title %></h1>
	
	<% if(!locals.group || !locals.group.id) { %>
		<div>
			<p>Unknown error, if it persists please report it to support.</p>
		</div>
	<% } else { %>  
		<form action="/user/group/delete/<%- locals.group.id %>" method="POST" class="default-form">
			<legend>Delete group? Once the action is performed it cant be undone.</legend>
			
			<div class="campo enviar">
				<input type="submit" value="Delete group" class="btn btn-rosa" />
			</div>
		</form>
	<% } %> 
</main>
