<main class="contenedor contenedor-formulario no-padding">
	<!-- Page specific CSS -->
	<link rel="stylesheet" href="/public/package/trix@2.1.1/dist/trix.css">
	
	<script src="/public/package/trix@2.1.1/dist/trix.umd.js"></script>
	
	<h1><%= title %></h1>
	
	<pre><% JSON.stringify(categories, undefined, 4) %></pre>
	
	<form action="/user/group/new" class="default-form" method="POST" enctype="multipart/form-data">
		<div class="campo">
			<label for="name">Name</label>
			<input type="text" name="name" placeholder="Group name" />
		</div>
		
		<div class="campo descripcion">
			<label for="description">Description</label>
			<div class="contenedor-editor">
				<input type="hidden" name="description" id="description" />
				<trix-editor input="description"></trix-editor>
			</div>
		</div>
		
		<div class="campo">
			<label for="category">Category</label>
			<select name="category" id="category" required>
				<option value="" select disabled>- Select one -</option>
				<% categories.forEach((category) => { %>
					<option value="<%= category.id %>"><%= category.name %> </option>
				<% }) %> 
			</select>
		</div>
		
		<div class="campo">
			<label for="image">Image</label>
			<input type="file" name="image" placeholder="Group image" />
		</div>
		
		<div class="campo">
			<label for="url">URL</label>
			<input type="url" name="url" placeholder="Website" />
		</div>
		
		<div class="campo enviar">
			<input type="submit" value="Create group" class="btn btn-rosa" />
		</div>
	</form>
</main>
